
<%= image_tag @restauraunt.image_url %>
<p>
  <strong>Name:</strong>
  <%= @restauraunt.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restauraunt.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @restauraunt.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @restauraunt.website %>
</p>

<%= link_to 'Edit', edit_restauraunt_path(@restauraunt), class:"btn btn-link" %> |
<%= link_to 'Back', restauraunts_path, class:"btn btn-link" %>
